/* =Reset
-------------------------------------------------------------- */
/* line 11, sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 22, sass/partials/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 28, sass/partials/_reset.scss */
body {
  background: #fff;
}

/* line 39, sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

/* line 42, sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, sass/partials/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 49, sass/partials/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 54, sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 57, sass/partials/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 60, sass/partials/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 64, sass/partials/_reset.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

/* line 67, sass/partials/_reset.scss */
a img {
  border: 0;
}

/* Alignment */
/* line 2, sass/partials/_helpers.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 7, sass/partials/_helpers.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 12, sass/partials/_helpers.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 19, sass/partials/_helpers.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Clearfix hack. See http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 27, sass/partials/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 31, sass/partials/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 34, sass/partials/_helpers.scss */
.cf {
  *zoom: 1;
}

/* =Global
----------------------------------------------- */
/* line 8, sass/partials/_globals.scss */
body,
button,
input,
select,
textarea {
  color: #071e09;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
}

/* Headings */
/* line 17, sass/partials/_globals.scss */
h1, h2, h3, h4, h5, h6 {
  color: #071e09;
  font-family: Lato, "PT Sans", Verdana, Geneva, sans-serif;
  font-weight: 300;
}

/* line 24, sass/partials/_globals.scss */
hr {
  background-color: #071e09;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 32, sass/partials/_globals.scss */
p, ul, ol {
  margin-bottom: 1em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/* line 40, sass/partials/_globals.scss */
ul {
  list-style: none;
  position: relative;
  margin: 0;
}

/* line 46, sass/partials/_globals.scss */
ol {
  margin-left: 1.2em;
}

/* line 49, sass/partials/_globals.scss */
ol, ol ol ol ol {
  list-style: decimal outside;
}

/* line 52, sass/partials/_globals.scss */
ol ol {
  list-style: lower-roman outside;
}

/* line 55, sass/partials/_globals.scss */
ol ol ol {
  list-style: lower-alpha outside;
}

/* line 58, sass/partials/_globals.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1.2em;
}

/* line 64, sass/partials/_globals.scss */
li:first-child {
  margin-top: 0;
}

/* line 68, sass/partials/_globals.scss */
dt {
  font-weight: bold;
}

/* line 71, sass/partials/_globals.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 74, sass/partials/_globals.scss */
b, strong {
  font-weight: bold;
}

/* line 77, sass/partials/_globals.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 80, sass/partials/_globals.scss */
blockquote, pre {
  margin: 0 0 1em;
  padding: 1em;
  background: #eeeeee;
}

/* line 85, sass/partials/_globals.scss */
blockquote {
  padding-left: 4em;
  position: relative;
}
/* line 88, sass/partials/_globals.scss */
blockquote:before {
  position: absolute;
  left: 0.4em;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  font-size: 2em;
  opacity: 0.3;
  content: '\275d';
}
/* line 96, sass/partials/_globals.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 100, sass/partials/_globals.scss */
address {
  margin: 0;
}

/* line 103, sass/partials/_globals.scss */
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  overflow: auto;
  max-width: 100%;
}

/* line 108, sass/partials/_globals.scss */
code, kbd, tt, var {
  background: #eeeeee;
  border: 1px solid #455646;
  font: 0.9em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 113, sass/partials/_globals.scss */
abbr, acronym {
  border-bottom: none;
  cursor: default;
}

/* line 118, sass/partials/_globals.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, sass/partials/_globals.scss */
sup {
  bottom: 1ex;
}

/* line 128, sass/partials/_globals.scss */
sub {
  top: .5ex;
}

/* line 131, sass/partials/_globals.scss */
small {
  font-size: 75%;
}

/* line 134, sass/partials/_globals.scss */
big {
  font-size: 125%;
}

/* line 137, sass/partials/_globals.scss */
figure {
  margin: 0;
}

/* line 140, sass/partials/_globals.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #455646;
  background: #eeeeee;
}

/* line 148, sass/partials/_globals.scss */
th, td {
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #ddd;
}

/* line 155, sass/partials/_globals.scss */
th {
  background: #eee;
  font-weight: bold;
}

/* line 162, sass/partials/_globals.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 169, sass/partials/_globals.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */
}

/* line 176, sass/partials/_globals.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  line-height: 2em;
  height: 2.1em;
  padding: 0 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 195, sass/partials/_globals.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 208, sass/partials/_globals.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 215, sass/partials/_globals.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 219, sass/partials/_globals.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box;
}

/* line 225, sass/partials/_globals.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 229, sass/partials/_globals.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 235, sass/partials/_globals.scss */
input[type=text],
input[type=email],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 242, sass/partials/_globals.scss */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: #111;
}

/* line 246, sass/partials/_globals.scss */
input[type=text],
input[type=email] {
  padding: 3px;
}

/* line 249, sass/partials/_globals.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Links */
/* line 257, sass/partials/_globals.scss */
a {
  color: #e73122;
  text-decoration: none;
}

/* line 263, sass/partials/_globals.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* line 8, sass/editor-style.scss */
html {
  max-width: 740px;
  overflow-y: visible;
}

/* line 13, sass/editor-style.scss */
body {
  padding: 20px 40px;
  font-size: 14px;
}

/* line 18, sass/editor-style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

/* line 21, sass/editor-style.scss */
h1 {
  font-size: 24px;
  border-bottom: 1px solid #455646;
}

/* line 25, sass/editor-style.scss */
h2 {
  font-size: 22px;
}

/* line 28, sass/editor-style.scss */
h3 {
  font-size: 18px;
}

/* line 31, sass/editor-style.scss */
h4 {
  font: bold 14px "PT Sans", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}

/* line 35, sass/editor-style.scss */
h5 {
  font: bold 12px "PT Sans", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}

/* line 39, sass/editor-style.scss */
h6 {
  font: bold 12px "PT Sans", Verdana, Geneva, sans-serif;
}

/* line 42, sass/editor-style.scss */
.wp-caption {
  border: 0;
  background: transparent;
  max-width: 100%;
}

/* line 47, sass/editor-style.scss */
.wp-caption, .entry-attachment {
  margin-bottom: 1.5em;
  padding: 0;
  width: 100%;
}
/* line 51, sass/editor-style.scss */
.wp-caption img, .entry-attachment img {
  background: #eeeeee;
  width: 100%;
}

/* line 56, sass/editor-style.scss */
.wp-caption-text, .wp-caption-dd, .entry-attachment .entry-caption p {
  background: #eeeeee;
  padding: 2px 5px;
  margin: 4px 0 0;
  text-align: center;
}
