/**
 * Styles for IE8.
 * IE7 and below not supported.
 *
 * @package Emphaino
 * @since Emphaino 1.0
 */
/* line 86, sass/partials/_defines.scss */
.js #dynamic-grid {
  margin: -10px -10px 20px;
  margin: -1rem -1rem 2rem;
}

/* Prevent stretching of full-size images with height and width attributes in IE8 */
/* line 17, sass/ie.scss */
.site-header img,
.entry-content img,
img.size-full {
  width: auto;
}

/* Non Responsive Layout for IE 8 */
/* line 25, sass/ie.scss */
.header-main, .widget-area, .page-header, .post-navigation, .paging-navigation {
  border: 1px solid #ddd;
}
