/**
 * Print Stylesheet
 *
 * @package Emphaino
 * @since Emphaino 1.0
 */
/* =Reset
-------------------------------------------------------------- */
/* line 11, sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 22, sass/partials/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 28, sass/partials/_reset.scss */
body {
  background: #fff;
}

/* line 39, sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

/* line 42, sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, sass/partials/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 49, sass/partials/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 54, sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 57, sass/partials/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 60, sass/partials/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 64, sass/partials/_reset.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

/* line 67, sass/partials/_reset.scss */
a img {
  border: 0;
}

/* Alignment */
/* line 2, sass/partials/_helpers.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 7, sass/partials/_helpers.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 12, sass/partials/_helpers.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 19, sass/partials/_helpers.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Clearfix hack. See http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 27, sass/partials/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 31, sass/partials/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 34, sass/partials/_helpers.scss */
.cf {
  *zoom: 1;
}

/* line 16, sass/print.scss */
body {
  color: #000;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 24, sass/print.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #888;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
}

/* line 30, sass/print.scss */
hr {
  background-color: #aaa;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 38, sass/print.scss */
p, ul, ol {
  margin-bottom: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/* line 46, sass/print.scss */
ul {
  list-style: none;
}
/* line 48, sass/print.scss */
ul li:before {
  content: "\203A \0020";
}

/* line 52, sass/print.scss */
ol, ol ol ol ol {
  list-style: decimal inside;
}

/* line 55, sass/print.scss */
ol ol {
  list-style: lower-roman inside;
}

/* line 58, sass/print.scss */
ol ol ol {
  list-style: lower-alpha inside;
}

/* line 61, sass/print.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1em;
}

/* line 65, sass/print.scss */
dt {
  font-weight: bold;
}

/* line 68, sass/print.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 71, sass/print.scss */
b, strong {
  font-weight: bold;
}

/* line 74, sass/print.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 77, sass/print.scss */
blockquote, pre {
  margin: 0 0 1em;
  padding: 10px;
  padding: 1rem;
  border: 1px solid #aaa;
}

/* line 83, sass/print.scss */
blockquote {
  padding-left: 4em;
  position: relative;
}
/* line 86, sass/print.scss */
blockquote:before {
  position: absolute;
  left: 10px;
  left: 1rem;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  font-size: 2em;
  opacity: 0.3;
  content: '\275d';
}
/* line 94, sass/print.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 98, sass/print.scss */
address {
  margin: 0 0 1em;
}

/* line 101, sass/print.scss */
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  overflow: auto;
  max-width: 100%;
}

/* line 106, sass/print.scss */
code, kbd, tt, var {
  background: #eeeeee;
  border: 1px solid #aaa;
  font: 0.9em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 111, sass/print.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 116, sass/print.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 123, sass/print.scss */
sup {
  bottom: 1ex;
}

/* line 126, sass/print.scss */
sub {
  top: .5ex;
}

/* line 129, sass/print.scss */
small {
  font-size: 75%;
}

/* line 132, sass/print.scss */
big {
  font-size: 125%;
}

/* line 135, sass/print.scss */
figure {
  margin: 0;
}

/* line 138, sass/print.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #aaa;
  background: #eeeeee;
}

/* line 146, sass/print.scss */
th, td {
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #ddd;
}

/* line 153, sass/print.scss */
th {
  background: #eee;
  font-weight: bold;
}

/* line 160, sass/print.scss */
button,
input,
select,
textarea {
  display: none;
}

/* Links */
/* line 165, sass/print.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 175, sass/print.scss */
#top-bar,
.reply,
#respond,
.footer-widget-area {
  display: none;
}

/* line 179, sass/print.scss */
.site-header {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* line 184, sass/print.scss */
.site-header .header-main {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  text-align: center;
}

/* line 190, sass/print.scss */
.site-title {
  font-size: 40px;
  font-size: 4rem;
}

/* line 195, sass/print.scss */
.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  font-weight: normal;
}

/* line 203, sass/print.scss */
.has-logo-image .site-title, .has-logo-image .site-description {
  height: 0;
  width: 0;
  overflow: hidden;
}

/* line 210, sass/print.scss */
.page-header {
  margin: 0 0 1.5em;
  padding: 10px;
  text-align: center;
}

/* line 216, sass/print.scss */
.site-content {
  width: 100%;
}

/* line 219, sass/print.scss */
.hentry, .page-header {
  padding: 0 0 1.5em;
  margin: 0 0 1.5em;
  border-bottom: 1px solid #aaa;
}

/* line 225, sass/print.scss */
#dynamic-grid {
  height: auto !important;
}
/* line 227, sass/print.scss */
#dynamic-grid .hentry {
  position: static !important;
}

/* line 232, sass/print.scss */
.page-header span {
  text-decoration: underline;
}

/* line 236, sass/print.scss */
.entry-title {
  font-size: 27px;
  font-size: 2.7rem;
  word-wrap: break-word;
}

/* line 245, sass/print.scss */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  margin: 0 0 10px;
  margin: 0 0 1rem;
}
/* line 249, sass/print.scss */
.entry-content h1,
.entry-summary h1,
.comment-content h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 253, sass/print.scss */
.entry-content h2,
.entry-summary h2,
.comment-content h2 {
  font-size: 22px;
  font-size: 2.2rem;
}
/* line 257, sass/print.scss */
.entry-content h3,
.entry-summary h3,
.comment-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 261, sass/print.scss */
.entry-content h4,
.entry-summary h4,
.comment-content h4 {
  font: bold 14px "PT Sans", Verdana, Geneva, sans-serif;
  font: bold 1.4rem "PT Sans", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}
/* line 266, sass/print.scss */
.entry-content h5,
.entry-summary h5,
.comment-content h5 {
  font: bold 12px "PT Sans", Verdana, Geneva, sans-serif;
  font: bold 1.2rem "PT Sans", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}
/* line 271, sass/print.scss */
.entry-content h6,
.entry-summary h6,
.comment-content h6 {
  font: bold 12px "PT Sans", Verdana, Geneva, sans-serif;
  font: bold 1.2rem "PT Sans", Verdana, Geneva, sans-serif;
}

/* line 298, sass/print.scss */
.format-image .entry-title:before,
.single-format-image .entry-title:before,
.format-gallery .entry-title:before,
.single-format-gallery .entry-title:before,
.format-chat .entry-title:before,
.single-format-chat .entry-title:before,
.format-link .entry-title:before,
.single-format-link .entry-title:before,
.format-quote .entry-title:before,
.single-format-quote .entry-title:before,
.format-audio .entry-title:before,
.single-format-audio .entry-title:before,
.format-video .entry-title:before,
.single-format-video .entry-title:before,
.format-status .entry-title:before,
.single-format-status .entry-title:before,
.format-aside .entry-title:before,
.single-format-aside .entry-title:before,
.post-password-required .entry-title:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  margin-right: 0.4em;
}

/* line 304, sass/print.scss */
.format-image .entry-title:before, .single-format-image .entry-title:before {
  content: '\e805 \0020';
}

/* line 309, sass/print.scss */
.format-gallery .entry-title:before, .single-format-gallery .entry-title:before {
  content: '\1f304 \0020';
}

/* line 314, sass/print.scss */
.format-chat .entry-title:before, .single-format-chat .entry-title:before {
  content: '\e802 \0020';
}

/* line 319, sass/print.scss */
.format-link .entry-title:before, .single-format-link .entry-title:before {
  content: '\e807 \0020';
}

/* line 324, sass/print.scss */
.format-quote .entry-title:before, .single-format-quote .entry-title:before {
  content: '\275d \0020';
}

/* line 329, sass/print.scss */
.format-audio .entry-title:before, .single-format-audio .entry-title:before {
  content: '\e804 \0020';
}

/* line 334, sass/print.scss */
.format-video .entry-title:before, .single-format-video .entry-title:before {
  content: '\e806 \0020';
}

/* line 339, sass/print.scss */
.format-status .entry-title:before, .single-format-status .entry-title:before {
  content: '\1f514 \0020';
}

/* line 344, sass/print.scss */
.format-aside .entry-title:before, .single-format-aside .entry-title:before {
  content: '\e732 \0020';
}

/* line 349, sass/print.scss */
.post-password-required .entry-title:before {
  content: '\e708 \0020';
}

/* line 354, sass/print.scss */
.more-link {
  display: none;
}

/* line 358, sass/print.scss */
.entry-meta {
  clear: both;
  font-size: 12px;
  font-size: 1.2rem;
  color: #888;
}
/* line 363, sass/print.scss */
.entry-meta span {
  margin-right: 1em;
}
/* line 366, sass/print.scss */
.entry-meta .permalink {
  display: none;
}

/* line 372, sass/print.scss */
.single .entry-meta .byline,
.group-blog .entry-meta .byline {
  display: inline;
}

/* line 375, sass/print.scss */
.attachment .entry-meta .byline {
  display: none;
}

/* line 379, sass/print.scss */
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 382, sass/print.scss */
.featured-image {
  width: 100%;
  line-height: 0;
}

/* line 387, sass/print.scss */
.wp-post-image {
  background: #eeeeee;
  margin: 0 0 10px;
  margin: 0 0 1rem;
  max-width: 100%;
  height: auto;
}
/* line 393, sass/print.scss */
.wp-post-image.attachment-post-thumbnail {
  float: right;
  width: 150px;
  width: 15rem;
  margin: 0.4em 0 10px 10px;
  margin: 0.4em 0 1rem 1rem;
}

/* line 402, sass/print.scss */
.page-links {
  clear: both;
  border: 1px solid #aaa;
  margin: 0 0 1em;
  padding: 1rem;
  text-align: center;
}

/* line 413, sass/print.scss */
.blog .format-aside .entry-title a,
.archive .format-aside .entry-title a {
  display: none;
}

/* line 418, sass/print.scss */
.format-chat .entry-content {
  border: 1px solid #aaa;
  margin: 0 0 1.5em;
  padding: 1rem;
}
/* line 422, sass/print.scss */
.format-chat .entry-content p:last-child {
  margin-bottom: 0;
}

/* line 427, sass/print.scss */
.wp-caption {
  max-width: 100%;
}

/* line 430, sass/print.scss */
.wp-caption, .entry-attachment {
  margin-bottom: 1.5em;
}
/* line 432, sass/print.scss */
.wp-caption img, .entry-attachment img {
  background: #eeeeee;
}

/* line 436, sass/print.scss */
.site-content .gallery {
  padding-bottom: 1.5em;
}

/* line 439, sass/print.scss */
.gallery-caption {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 443, sass/print.scss */
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 450, sass/print.scss */
embed,
iframe,
object {
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 456, sass/print.scss */
.site-content .site-navigation {
  display: none;
}

/* line 462, sass/print.scss */
.comments-title {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* line 469, sass/print.scss */
ol.commentlist {
  list-style: none;
  margin: 0 0 20px;
  margin: 0 0 2rem;
}
/* line 473, sass/print.scss */
ol.commentlist ul.children {
  margin-left: 20px;
  margin-left: 2rem;
}
/* line 476, sass/print.scss */
ol.commentlist ul.children > li {
  position: relative;
}
/* line 478, sass/print.scss */
ol.commentlist ul.children > li:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  content: "\21b3";
  position: absolute;
  left: -2.2rem;
  opacity: 0.3;
}

/* line 489, sass/print.scss */
article.comment {
  position: relative;
  overflow: hidden;
  clear: both;
  margin: 0 0 20px;
  margin: 0 0 2rem;
  padding: 10px;
  padding: 1rem;
  border-bottom: 1px solid #aaa;
}
/* line 498, sass/print.scss */
article.comment footer {
  border-bottom: 1px solid #455646;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 0 0 10px;
  padding: 0 0 1rem;
}
/* line 505, sass/print.scss */
article.comment footer em {
  /* "Your comment is awaiting moderation" message */
  position: absolute;
  bottom: 10px;
  bottom: 1rem;
  left: 10px;
  left: 1rem;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 513, sass/print.scss */
article.comment footer em:before {
  content: '(';
}
/* line 516, sass/print.scss */
article.comment footer em:after {
  content: ')';
}
/* line 520, sass/print.scss */
article.comment footer br {
  display: none;
}

/* line 526, sass/print.scss */
.pingback p {
  position: relative;
  margin: 0 0 10px;
  margin: 0 0 1rem;
  padding: 10px 10px 10px 28px;
  padding: 1rem 1rem 1rem 2.8rem;
  border: 1px solid #aaa;
}
/* line 533, sass/print.scss */
.pingback p:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  position: absolute;
  left: 0.5rem;
  top: 1.3rem;
  content: '\e761\e78b';
  opacity: 0.5;
}

/* line 543, sass/print.scss */
.avatar {
  float: left;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  width: 40px;
  width: 4rem;
  height: auto;
  background: #eeeeee;
}

/* line 555, sass/print.scss */
.comment-author cite {
  position: relative;
  left: 10px;
  left: 1rem;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  font-style: normal;
}

/* line 566, sass/print.scss */
.comment-meta {
  position: relative;
  left: 10px;
  left: 1rem;
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 574, sass/print.scss */
.bypostauthor > .comment .comment-author cite:after {
  content: '*';
  font-size: 0.8em;
  position: relative;
  bottom: 0.2em;
}

/* line 582, sass/print.scss */
#bottom-bar {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}
