//////////////////////////////
// COLORS: Create a color scheme
//////////////////////////////
@import "toolkit/colours";

// tint-stack, shade-stack etc

// Example color scheme
// this is an approximation of the green
$primary-color: #22e744;
$black-value: #071e09;

//$background-color: #11ff11;

$cs-primary: $primary-color;

// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme: accented-analogic;

// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset: 20;

// Options: 0-100;
$cs-brightness-offset: 10;

// Options: 0-100;
$cs-color-model: ryb;

// Options: rgb, ryb

$black: tint-stack($black-value);
$primary: tint-stack(cs-primary());
$primary-dark: darken(nth($primary, 2), 50%);
$secondary: tint-stack(cs-secondary());
$secondary-dark: darken(nth($secondary, 2), 40%);
$secondary-dark2: darken(nth($secondary, 2), 50%);
$tertiary: tint-stack(cs-tertiary());
$quadrary: tint-stack(cs-quadrary());

//$sans-font: 'PT Sans', Verdana, Geneva, sans-serif;
$sans-font: "PT Sans", Verdana, Geneva, sans-serif;
$heading-font: Lato, "PT Sans", Verdana, Geneva, sans-serif;
$serif-font: "PT Sans", Verdana, Geneva, sans-serif;
$site-heading-color: nth($primary, 1);
$heading-color: $primary-dark;
$text-color: nth($black, 1);
$link-color: nth($quadrary, 1);
$link-color-rgba: rgba(56, 140, 164, 0.5);
$border-color: nth($black, 2);
$primary-bg-color: nth($black, 6);
$secondary-bg-color: nth($black, 5);
$tertiary-bg-color: nth($black, 6);
$blocks-bg-color: #eee;

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin primary-box {
   background-color: #fff;
  // background-color: $primary-bg-color;
  // background-color: white;
 
  // @include box-shadow( rgba(0, 0, 0, 0.5) 0 0 1px );
  
}

@mixin secondary-box {
  //background-color: #f6f6f6;
  //background-color: $blocks-bg-color;
  //@include box-shadow( rgba(0, 0, 0, 0.1) 0 0 0 0.1rem inset);
}

@mixin blocks-box {
  background: $blocks-bg-color;
  //@include box-shadow( rgba(0, 0, 0, 0.2) 0 0 0.2rem );
}

 .js #dynamic-grid {
    margin: -10px -10px 20px;
    margin: -1rem -1rem 2rem;
  }


@mixin fontello {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
}