//////////////////////////////
// COLORS: Create a color scheme
//////////////////////////////
@import "color-schemer";
@import "toolkit/colors";



// Tomato red
$primary-color: #e73122;
$black-value: #071e09;

//$background-color: #11ff11;

$cs-primary: $primary-color;

// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme: accented-analogic;

// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset: 20;

// Options: 0-100;
$cs-brightness-offset: 10;

// Options: 0-100;
$cs-color-model: ryb;

// Options: rgb, ryb

//previous background-color: #B4D3DC;
$blue-background: #acd3df;

$black: tint-stack($black-value);
$primary_stack: tint-stack($cs-primary);
$primary-dark: darken(nth($primary_stack, 2), 50%);
$secondary: tint-stack($cs-primary);
$secondary-dark: darken(nth($secondary, 2), 40%);
$secondary-dark2: darken(nth($secondary, 2), 50%);
$tertiary: tint-stack($cs-primary);
$quadrary: tint-stack($cs-primary);

//$sans-font: 'PT Sans', Verdana, Geneva, sans-serif;
$sans-font: "PT Sans", Verdana, Geneva, sans-serif;
$heading-font: Lato, "PT Sans", Verdana, Geneva, sans-serif;
$serif-font: "PT Sans", Verdana, Geneva, sans-serif;
$site-heading-color: nth($cs-primary, 1);
$heading-color: $primary-dark;
$text-color: nth($black, 1);
$link-color: nth($quadrary, 1);
$link-color-rgba: rgba(56, 140, 164, 0.5);
$border-color: nth($black, 2);
$primary-bg-color: nth($black, 6);
$secondary-bg-color: nth($black, 5);
$tertiary-bg-color: nth($black, 6);
$blocks-bg-color: #eeeeee;

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin primary-box {
  background-color: #fff;
}

@mixin blocks-box {
  background: $blocks-bg-color;
}