#bottom-bar {

	overflow: hidden;
	padding: 10px;
	padding: 2rem;
	background-color: #64B224;
	// @include box-shadow( rgba(0, 0, 0, 0.1) 0 0 0.5rem );
	color: #fff;
	a {
		color: #fff;
	}
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
}

