/* =Header
---------------------------------------------- */

.site-header {
    background-color: #64B224;
    padding: 0;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
    @include respond-to("desktop") {
        height: 61px;
        max-height: 61px;
        margin: 0;
    }

    .header-main {
        overflow: visible;
    }
    .site-branding-a {
        &:hover {
            background-color: #ffff00;
            color: #64B224;
            text-decoration: none;
        }
    }
    .site-branding {
        background-color: white;
        padding: 10px  10px 10px 50px;
        padding: 1rem 1rem 1rem 5rem;
        padding: 1rem;
        text-align: center;
        &:hover {
            .site-title {
                color: #64B224;
                text-decoration: none;
            }
        }
        @include respond-to("desktop") {
            display: inline-block;
            position: relative;
            z-index: 1;
            padding: 10px 20px 1px 0;
            padding: 1rem 2rem 1rem 0;
            text-align: left;
            min-width: 31.3rem;
            margin-top: -10px;
            &:before {
                content: "";
                width: 9999px;
                background-color: white;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 100%;
            }
        }

        .site-title {
            font-size: 30px;
            font-size: 3.2rem;
            color: $primary-dark;
            letter-spacing: .6px;
            line-height: 1.5;
            font-weight: 400;
            @include respond-to("mobile") {
                font-size: 20px;
                font-size: 2rem;
            }
        }
    }
    .site-description {
        padding-right: 10px;
        padding-right: 1rem;
        @include respond-to("desktop") {
            display: inline-block;
            font-size: 16px;
        }
    }
    .modal_underlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: -8px;
        background-color: rgba(20, 20, 20, 0.8);
        // background-color: black;
        // @include transition-property(background-color);
        // @include transition-duration(0.7s);
        // @include transition-timing-function(ease-in-out);
        // opacity: 0;
   
    }
    .header-r-hold {
        text-align: center;
        color: $secondary-dark;
        margin-bottom: 0;
        @include respond-to("desktop") {}

        position: relative;
        height: 34px;
        text-align: right;
        padding: 8px 0px 0 0;
        form#searchform {
            position: absolute;
            z-index: 20;
            right: 35px;
            top: 10px;
            @include respond-to("not desktop") {
                right: 55px;
                top: 45px;
            }
        }
        .searchB {
            width: 34px;
            height: 34px;
            background-image: url(images/search-icon.png);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            display: inline-block;
            cursor: pointer;
            position: relative;
        }
        @include respond-to("not desktop") {
            .searchB {
                width: 34px;
                height: 34px;
                background-image: url(images/search-icon.png);
                background-position: right center;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                display: block;
                position: absolute;
                z-index: 20;
                right: 2rem;
                top: 5.1rem;
            }
        }

        @include respond-to("mobile") {
            .searchB {
                top: 4.3rem;
            }
        }

        .field {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 37px;
            margin: 3px 0;
            padding: 0 5px 0 5px;
            position: relative;
            -webkit-transition: width 400ms ease, background 400ms ease;
            transition: width 400ms ease, background 400ms ease;
            width: 0px;
        }
        .field:focus, .field.open {
            background-color: #fff;
            border: 2px solid #c3c0ab;
            cursor: text;
            outline: 0;
            width: 290px;
            @include respond-to("mobile") {
                width: 240px;
            }
        }
        .search-submit {
            display: none;
        }
        ///
        ///
        //}
   
    }
}

// See also _menu.scss