/* =Header
---------------------------------------------- */

.site-header {
  background-color: #64B224;
  padding: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 61px;
  max-height: 61px;
  .header-main {
    overflow: visible;
  }
  .site-branding-a {
    // display: inline-block;
    // background-color: #ff0000;
    // &:hover {
    //   background-color: #ffff00;
    // }
 
  }
  .site-branding {
    background-color: white;
    display: inline-block;
    padding: 10px 20px 1px 0;
    padding: 1rem 2rem 1rem 0;
    position: relative;
    z-index: 1;
    &:hover {
      .site-title {
        color: #64B224;
      }
    }
    &:before {
      content: "";
      width: 9999px;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
    }
    .site-title {
      font-size: 30px;
      font-size: 3rem;
      color: $primary-dark;
      letter-spacing: .6px;
      line-height: 1.5;
      // a {
      //   color: $primary-dark;
      //   @include text-shadow(rgba(0, 0, 0, 0.2) 0rem 0rem 0.1rem);
      // }
   
    }
  }
  .site-description {
    text-align: right;
    color: nth($secondary, 1);
    color: $secondary-dark;
    // font: normal 15px $sans-font;
    // font: normal 1.5rem $sans-font;
    padding-top: 8px;
    margin-bottom: 0;
  }
}



// See also _menu.scss